*{
    margin: 0 auto;
}

body{
    background-image: url(image/header.png);
    
    background-repeat: no-repeat;
    background-size: 100%;
}


.logo img{
    display: flex;
    justify-content: center;
}

.anchor{
    margin-top: 34%;
}

.anchor img{
    margin-left: 93%;
}

.containerTop img{
    margin-left: 40%;
    width: 60%;
    height: 733px;
    margin-top: 0.5%;
}

h1{
    position: relative;
    bottom: 630px;
    margin-left: 5%;
    font-size: 40px;
}

.blueBox{   
    background-color: blue;
    width: 50%;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 370px;
    background-color: rgba(0, 0, 255, 0.5);
}

.blueBox p {
    margin: 8%;
    text-align: center;
    color: #fff;
    font-size: 22px;
}

.blueBox img{
    width: 50px;
    height: 50px;
    margin-top: 15%;
}

.allTrip{
    margin-top: 0px;
    text-align: center;
    position: relative;
    bottom: 200px;
}

.allTrip h2{
    font-size: 30px;
}

.cardLeft{
    border: solid 1px rgb(219, 219, 219);
    width: 25%;
    height: 350px;
    box-shadow: 5px 2px 2px black;
    background-color: rgb(247, 247, 247);
    /* margin-right: 55%; */
    /* margin-top: 10%; */
}

.cardright{
    border: solid 1px rgb(219, 219, 219);
    width: 25%;
    height: 350px;
    box-shadow: 5px 2px 2px black;
    background-color: rgb(247, 247, 247);
    /* margin-left: 55%; */
    position: relative;
    bottom: 255px;
    
}

.tripCards{
margin-top: 5%;
width: 90%;
}

.paintCards{

    width: 217px;
    transform: rotate(180deg);
    margin-right: 260px;
}

.nameTripCards{
    position: relative;
    bottom: 100px;
    font-size: 40px;
}

.circleQuartBoat{
    position: relative;
    margin-right: 20%;
    margin-right: 10%;
    bottom: 5px;
}

.circleQuart{
    position: relative;
    bottom: 275px;
    left: 75px;
}

.containerLeft{
    display: flex;
    flex-direction: row;
    margin-left: 14%;
    margin-right: 14%;
}

.containerRight{
    /* background-color: hotpink; */
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 20px;
    margin-right: 14%;
    margin-left: 14%;
}

.descriptionTrip{
    width: 30%;
    margin-top: 7%;
    font-size: 20px;
    text-align: justify;
}

.descriptionTrip2{
    width: 30%;
    margin-top: 0%;
    font-size: 20px;
    text-align: justify;
}

.numberTrip{
    font-size: 30px;
    background-color: rgb(93, 93, 240);
    padding: 10px 20px;
    border-radius: 100%;
    color: #fff;
    margin: 10px;
    margin-bottom: 10px;
}

.containerLeftBresil{
    
    display: flex;
    flex-direction: row;
    margin-left: 14%;
    margin-right: 14%;
    position: relative;
    bottom: 500px; 
}

.containerRightGrece{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 500px;
    margin-right: 14%;
    margin-left: 14%;
}

.circleQuartBoatGrece{
    position: relative;
    bottom: 505px;
    right: 100px;
}


.containerLeftItalie{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 1000px;
    margin-right: 14%;
    margin-left: 14%;
}

.circleQuartItalie{
    position: relative;
    bottom: 755px;
    left: 75px;
}

.allTrip{
    height: 3100px;
}

.printSysteme{
    height: 2050px;
}

.blueBoxPrintSysteme{
    background-color: blue;
    width: 50%;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    
    background-color: rgba(0, 0, 255, 0.5);
}


.blueBoxPrintSysteme p {
    margin: 8%;
    text-align: center;
    color: #fff;
    font-size: 22px;
}

.blueBoxPrintSysteme img{
    width: 50px;
    height: 50px;
    margin-top: 15%;
}

.pictureList{
    margin-top: 10%;
    width: 90%;
    background-color: burlywood;
    display: flex;
    box-shadow: 5px 2px 2px black;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    padding: 2%;
}
    
.picture img{
width: 30%;
height: 300px;
}

.descriptionPrint {
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.descriptionPrint p{
    font-size: 25px;
    margin-bottom: 5%;
}

.paintBottom{
    transform: rotate(180deg);
}

.blueBoxBottom{
    width: 50%;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;  
    margin-top: 10%;
    background-color: rgba(0, 0, 255, 0.5);
}

.blueBoxBottom p {
    margin: 8%;
    text-align: center;
    color: #fff;
    font-size: 22px;
}

.blueBoxBottom img{
    width: 50px;
    height: 50px;
    margin-top: 15%;
}

.paintBottom {
    position: relative;
    bottom: 300px;
}

footer{
    
    background-color: rgba(0, 0, 255, 0.5);
    padding: 2%;
    color: #fff;
}

footer h2{
    text-align: center;
    font-size: 30px;
}

footer ul{
    list-style-type: none;
    text-decoration: none;
}

footer ul li{
  margin-bottom: 2%;  
}

footer ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

footer li a:hover{
    color: black;
}

footer img{
    margin-left: 90%;

}



.copyright{
    font-size: 25px;
    text-align: center;
}